/* -----------
    RESET
------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width:100%;
     vertical-align:bottom;
}

/* -----------
   TYP0
------------*/
body{
    font-family: 'Montserrat', sans-serif;
    color: #717171;
}

/* -----------
   SIDE BAR
------------*/
.side-bar{
    width: 250px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.spotify-logo{
    width: 70%;
    padding: 20px;
}

.nav-top ul, .nav-bottom ul, .top-nav ul{
    list-style: none;
}

.nav-top a, .nav-bottom a, .top-nav a{
    text-decoration: none;
    color: inherit;
    padding: 5px;
    display: flex;
    align-items: center;
}

.nav-bottom a{
    padding: 10px;
}
.nav-icon{
    width: 30px;
    margin-right: 5px;

}

.nav-bottom .fa-square-plus{
    font-size: 30px;
    margin-right: 5px;
}

.nav-bottom h4{
    text-transform: uppercase;
    padding-left: 10px;
    color: #fff;
}

.nav-top{
    margin-bottom: 30px;
}

.side-bar-bottom{
    padding: 5px 10px;
}

.account{
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.account img{
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
    margin-right: 5px;
    background-color: #808080;
    border-radius: 50%;
}

.install-app{
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #717171;
}

/* -----------
    HEADER
------------*/
header{
    height: 90px;
    width: calc(100% - 250px);
    background-color: rgb(8, 11, 18, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
}

.upgrade-button a{
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    padding: 10px 20px;
    display: block;
}

.upgrade-button{
    border: 1px solid #fff;
    border-radius: 20px;
    margin-right: 20px;
}

/* -----------
   MAIN
------------*/
main{
    display: flex;
    background-color: #141922;
    height: calc(100vh - 90px);
}

.main-container{
    width: calc(100% - 250px);
    padding-top: 90px;
}

/* modifiche lista top-nav aggiunte a liste side bar */
.top-nav{
    width: 100%;
    padding: 20px 0;
}

.top-nav ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-transform: uppercase;
    gap: 20px;
}

.top-nav a{
    padding: 3px 5px;
}

.music-container{
    width: 95%;
    margin: auto;
}

.music-row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.boxprova{
    width: calc(100% / 6);
    padding: 10px 0;
}

.cover-img{
    width: 100%;
}

.music-description{
    padding-top: 10px;
    text-align: center;
}

.cover{
    position: relative;
}

.overlay{
    width: 100%;
    font-size: 0;
    background-color: rgb(8, 11, 18, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.boxprova:hover .overlay, .boxprova:hover .play-icon {
    display: block;
}

.play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.play-icon{
    transform: scale(3);
    display: none;
}

/* -----------
   FOOTER
------------*/
footer{
    height: 90px;
    background-color: #282828;
}
