/* -----------
    RESET
------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -----------
   TYP0
------------*/
body{
    font-family: 'Montserrat', sans-serif;
    color: #717171;
}

/* -----------
   SIDE BAR
------------*/
.side-bar{
    width: 250px;
    height: calc(100vh - 90px);
    background-color: #000;
}

.spotify-logo{
    width: 70%;
    padding: 20px;
}

.nav-top ul, .nav-bottom ul{
    list-style: none;
}

.nav-top a, .nav-bottom a{
    text-decoration: none;
    color: inherit;
    padding: 10px;
    display: flex;
    align-items: center;
}

.nav-icon{
    width: 30px;
    margin-right: 5px;
}

.nav-bottom .fa-square-plus{
    font-size: 30px;
}

.nav-bottom h4{
    text-transform: uppercase;
    padding-left: 10px;
    color: #fff;
}

.nav-top{
    margin-bottom: 30px;
}

.nav-bottom{
    overflow-y: auto;
}

/* -----------
    HEADER
------------*/
header{
    height: 90px;
    width: calc(100% - 250px);
    background-color: rgb(8, 11, 18, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: 10;
}



/* -----------
   FOOTER
------------*/
main{
    display: flex;
    background-color: #141922;
}

/* -----------
   FOOTER
------------*/
footer{
    height: 90px;
    width: 100%;
    background-color: #282828;
}
